*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.main-content{
    background-color: #f1f2f6;
    padding: 3% 0;
}
.wrapper{
    padding: 1%;
    width: 90%;
    margin: 0 auto;
}
.tbl-full{
    width: 100%;
}
table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}
table tr td{
    padding: 1%;
}
.btn-danger{
    background-color: #ff6b81;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-danger:hover{
    background-color: #ff4757;
}